.container {
    width: 100%;
    height: 100vh;
    background-color: var(--color-reto2-1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: var(--color-reto2-2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "text image";
    width: 80%;
    color: white;
    border-radius: 10px;
}

.card-img {
    background-image: url("./../../../../assets/image-header-mobile.jpg");
    background-blend-mode: multiply;
    background-color: var(--color-reto2-3);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    border-radius: 0px 10px 10px 0px;
    width: 100%;
    grid-area: image;
}

.card-text {
    margin: 50px;
    grid-area: text;
}

.card-text h2 {
    font-family: "Inter";
    font-size: 40px;
    font-weight: 700;
}

.card-text h2 span {
    color: var(--color-reto2-3);
}

.card-text-1 {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    text-align: left;
    padding-right: 40px;
    color: var(--color-reto2-6);
    width: 80%;
}

.container-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    width: 70%;
}

.container-info p {
    font-family: var(--font-family-reto2-1);
    font-size: 10px;
    color: var(--color-reto2-6);
    margin: 0px 0px 5px 0px;
}

.container-info span {
    font-family: var(--font-family-reto2-1);
    font-weight: bold;
    color: white;
    font-size: 15px;
}

@media (max-width: 600px) {
    .card {
        height: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
        grid-template-columns: auto;
        grid-template-rows: 0.5fr 1fr;
        grid-template-areas: "image" "text";
    }
    .card-img {
        grid-area: image;
        background-size: cover;
        border-radius: 10px 10px 0px 0px;
    }
    .card-text {
        margin-top: 0;
        grid-area: text;
        margin: 40px;
    }
    .card-text h2 {
        font-family: "Inter";
        font-size: 27px;
        font-weight: 700;
        margin: 0;
    }
    .card-text-1 {
        text-align: center;
        padding: 0;
        width: 100%;
        font-size: 13px;
        color: var(--color-reto2-6);
    }
    .container-info {
        display: grid;
        grid-template-columns: 1fr;
        width: auto;
        gap: 15px;
    }
    .container-info span {
        font-family: var(--font-family-reto2-1);
        font-weight: bold;
        color: white;
        font-size: 20px;
    }
}