<div class="container">
    <div class="title">
        <h2>
            Reliable, efficient delivery <br />
            <span>Powered bu Technology</span>
        </h2>
        <p>
            Our Artificial intelligence Powered tools use millions of project data point to ensure that your project is successful
        </p>
    </div>
    <div class="card-container">
        <app-card6 class="card1" title="Supervisor" index="0" description="Monitors activity to identify proyect roadblocks" icon="../../../../assets/icon-supervisor.svg"></app-card6>
        <div>
            <app-card6 class="card2" index="1" title="Team Builder" description="Scans our talent network to create the optimal team for your project" icon="../../../../assets/icon-team-builder.svg"></app-card6>
            <app-card6 class="card3" index="2" title="Karma" description="Regulary evaluates our talent to ensure quality" icon="../../../../assets/icon-karma.svg"></app-card6>
        </div>
        <app-card6 class="card4" index="3" title="Calculator" description="Uses data from past projects to provide better delivery estimates" icon="../../../../assets/icon-calculator.svg"></app-card6>
    </div>
</div>