.container {
    background-color: var(--color-reto6-7);
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    font-family: var(--font-family-reto6-1);
}

.title {
    text-align: center;
    width: 40%;
}

.title h2 {
    font-size: 30px;
    font-weight: 200;
    color: var(--color-reto6-5);
    margin-bottom: 0px;
}

.title h2 span {
    font-weight: 600;
}

.title p {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-reto6-6);
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .card-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height: 50%;
    }
    .title {
        text-align: center;
        width: 70%;
        margin-bottom: 20px;
    }
    .title h2 {
        font-size: 20px;
    }
    .title p {
        font-size: 11px;
        text-align: justify;
        font-weight: 400;
        color: var(--color-reto6-6);
    }
}