<div class="container">
    <div class="card">
        <div class="header">
            <img src="./../assets/illustration-hero.svg" alt="" />
        </div>

        <div class="body">
            <h2>Order Summary</h2>
            <p>
                You can now listen to millions of songs, audiobooks,and podcasts on any divice anywhere you like!
            </p>

            <div class="plan">
                <div class="icon-plan">
                    <img src="./../assets/icon-music.svg" alt="" />
                </div>
                <div class="text-plan">
                    <p><span>Annual Plan</span></p>
                    <p>$59.99/year</p>
                </div>

                <div class="button-plan"><a href="#">Change</a></div>
            </div>
        </div>

        <div class="footer">
            <button class="option-1"><span>Proceed to Payment</span></button>
            <button class="option-2"><span>Cancel Order</span></button>
        </div>
    </div>
</div>