<div class="nav">
    <details>
        <summary class="basicos">Basicos</summary>
        <li routerLinkActive="active" routerLink="/basico/reto1"><a>Reto 1</a></li>
        <li routerLinkActive="active" routerLink="/basico/reto2"><a>Reto 2</a></li>
        <li routerLinkActive="active" routerLink="/basico/reto3"><a>Reto 3</a></li>
        <li routerLinkActive="active" routerLink="/basico/reto4"><a>Reto 4</a></li>
        <li routerLinkActive="active" routerLink="/basico/reto5"><a>Reto 5</a></li>
        <li routerLinkActive="active" routerLink="/basico/reto6"><a>Reto 6</a></li>
    </details>
</div>